<div>
  <div class="container_header">
    <div class="container_banner">
      <img class="banner" src="../../assets/portada.png" alt="portada" />
    </div>

    <div class="content">
      <div class="header">
        <h4>Partido en vivo</h4>
        <p>62:24</p>
      </div>
      <div class="central">
        <img src="../../assets/home/mexico.png" alt="" />
        <p>2 - 2</p>
        <img src="../../assets/home/bolivia.png" alt="" />
      </div>
      <div class="footer">
        <div>
          <h5>Goles</h5>
          <p>7 - 4</p>
        </div>
        <div>
          <h5>Faltas</h5>
          <p>7 - 4</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container_games">
    <h3>Partidos de futbol</h3>

    <div class="category">
      <p class="active">Ultimos partidos</p>
      <p>Futuros partidos</p>
    </div>

    <table>
      <tbody>
        <tr>
          <td>
            <div>
              <img src="../../assets/home/argentina.png" alt="" />
              <p>Argentina</p>
            </div>
          </td>
          <td>
            <p class="goals">1-2</p>
          </td>
          <td>
            <div>
              <img src="../../assets/home/italia.png" alt="" />
              <p>Italia</p>
            </div>
          </td>
          <td class="date">10 diciembre 2022</td>
        </tr>

        <tr>
          <td>
            <div>
              <img src="../../assets/home/argentina.png" alt="" />
              <p>Argentina</p>
            </div>
          </td>
          <td>
            <p class="goals">1-2</p>
          </td>
          <td>
            <div>
              <img src="../../assets/home/italia.png" alt="" />
              <p>Italia</p>
            </div>
          </td>
          <td class="date">10 diciembre 2022</td>
        </tr>
        <tr>
          <td>
            <div>
              <img src="../../assets/home/argentina.png" alt="" />
              <p>Argentina</p>
            </div>
          </td>
          <td>
            <p class="goals">1-2</p>
          </td>
          <td>
            <div>
              <img src="../../assets/home/italia.png" alt="" />
              <p>Italia</p>
            </div>
          </td>
          <td class="date">10 diciembre 2022</td>
        </tr>

        <tr>
          <td>
            <div>
              <img src="../../assets/home/argentina.png" alt="" />
              <p>Argentina</p>
            </div>
          </td>
          <td>
            <p class="goals">1-2</p>
          </td>
          <td>
            <div>
              <img src="../../assets/home/italia.png" alt="" />
              <p>Italia</p>
            </div>
          </td>
          <td class="date">10 diciembre 2022</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
