
<nav>
  <a href="">Principal</a>
  <a href="">Campeonatos</a>
  <a href="">Equipos</a>
  <a href="">Inscripciones</a>
  <a href="">Registros</a>
  <a href="">Ver partidos</a>
  <a href="">proximos partidos</a>
  <a href="">Login</a>
</nav>
<div class="table-responsive">
  <table class="table table-striped">
     <thead>
       <tr>
         <th>Partido</th>
         <th>Resultado</th>
         <th>Fecha</th>
       </tr>
     </thead>
     <tbody>
       <tr>
         <td>Unifranz - Catolica</td>
         <td>3 - 1</td>
         <td>30/11/2023</td>
       </tr>
       <tr>
         <td>Papayitas Fc - Univalle</td>
         <td>0 - 0</td>
         <td>1/12/2023</td>
       </tr>
       <tr>
         <td>San Simon - Pumas del norte</td>
         <td> 5 - 0</td>
         <td>15/09/2023</td>
       </tr>
       <tr>
         <td></td>
         <td></td>
         <td></td>
       </tr>
       <tr>
         <td></td>
         <td></td>
         <td></td>
       </tr>
     </tbody>
  </table>
 </div>


