.container_header {
  display: flex;
  gap: 10px;
  min-width: 100%;

  .container_banner {
    width: 70%;

    @media (max-width: 1050px) {
      width: 50%;
    }
  }

  .banner {
    min-width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;

    @media (max-width: 1300px) {
      height: 300px;
    }

    @media (max-width: 1050px) {
      height: 200px;
    }
  }

  .content {
    display: grid;
    gap: 10px;
    place-content: center;
    min-width: 30%;
    min-height: 100%;
    background-color: #1b1c21;
    border-radius: 10px;

    .header {
      text-align: center;

      h4 {
        font-size: 26px;
      }
    }

    .central {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      p {
        background-color: #bba3e6;
        padding: 10px;
        border-radius: 12px;
        color: #7247c4;
        width: 50px;
        text-align: center;
        font-weight: bold;
      }

      img {
        border-radius: 50%;
        width: 50px;
        height: 50px;
      }
    }

    .footer {
      text-align: center;
    }

    @media (max-width: 1050px) {
      width: 50%;
    }
  }
}


/* ================ TABLE ================ */

.container_games {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;

  h3 {
    font-size: 28px;
  }

  .category {
    display: flex;
    gap: 10px;

    p {
      font-size: 18px;
      cursor: pointer;
    }

    .active {
      border-bottom: 3px solid #7247c4;
    }
  }
}

table {
  width: 100%;

  img {
    width: 30px;
    height: 30px;
    border-radius: 15px;
  }

  td {
    text-align: left;

    &:nth-child(1) {
      width: 5%;
    }

    &:nth-child(2) {
      width: 5%;
    }

    &:nth-child(3) {
      width: 5%;
    }

    &:nth-child(4) {
      width: 3%;
    }

    div {
      display: flex;
      align-items: center;
      gap: 10px;
    }


  }

  .goals {
    background-color: #bba3e6;
    padding: 10px Im !important;
    border-radius: 12px;
    color: #7247c4;
    width: 50px;
    text-align: center;
    font-weight: bold;
  }

  .date {
    background-color: #281010;
    padding: 5px Im !important;
    border-radius: 6px;
    color: #ff6b6d;
    width: 10px;
    text-align: center;
    font-weight: bold;
  }
}