<div class="tabla-padre">
  <app-navbar [btnRedirect]="redirectLogin" [msgBtn]="msgBtnNavbar" />

  <h2>Jugadores</h2>
  <button (click)="handleModal()">Crear</button>
  <div>
    <table class="table-user">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombres</th>
          <th>Apellidos</th>
          <th>Edad</th>
          <th>Cumpleaños</th>
          <th>Celular</th>
          <th>Foto</th>
          <th>EquipoId</th>
          <th>Operaciones</th>
        </tr>
      </thead>
      <tbody>
        @for(v of playerList; track v.id){
        <tr>
          <td>{{ v.id }}</td>
          <td>{{ v.names }}</td>
          <td>{{ v.lastNames }}</td>
          <td>{{ v.age }}</td>
          <td>{{ v.birthday }}</td>
          <td>{{ v.cellphone }}</td>
          <td>{{ v.photo }}</td>
          <td>{{ v.teamId }}</td>
          <td>
            <div>
              <button class="btn">Editar</button>
              <button class="btn" (click)="deletePlayer(v.id)">Eliminar</button>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>

@if (showHello) {
<div class="container_modal">
  <div class="Crear-usuario">
    <button class="button-close" (click)="handleModal()">x</button>
    <form [formGroup]="formPlayer" (ngSubmit)="addPlayer()">
      <h2>Añadir JUgador</h2>
      <div>
        <p>Nombre:</p>
        <input id="name" type="text" formControlName="names" />
      </div>

      <div>
        <p>Edad:</p>
        <input id="name" type="text" formControlName="age" />
      </div>

      <div>
        <p>Cumpleaños:</p>
        <input id="name" type="text" formControlName="birthday" />
      </div>

      <div>
        <p>Celular:</p>
        <input id="name" type="text" formControlName="cellphone" />
      </div>

      <div>
        <p>Apellidos:</p>
        <input id="name" type="text" formControlName="lastNames" />
      </div>

      <div>
        <p>Foto:</p>
        <input id="name" type="text" formControlName="photo" />
      </div>

      <div>
        <p>Equipo:</p>
      <!--   <input id="name" type="text" formControlName="teamId" /> -->

        <select name="cars" id="cars" formControlName="teamId">
          @for(v of teamList; track v.id){
            <option [value]="v.id">{{v.name}}</option>
            }
        </select>
      </div>

      <button class="btn-añadir" type="submit">Agregar</button>
    </form>
  </div>
</div>
}
