<div class="container">
    <div class="fhater-container">
      <div class="first-container">
        <h1>Welcome</h1>
        <p>Welcome back please enter your details</p>
        <label for="">Email</label>
        <input type="text">
        <label for="">Password</label>
        <input type="text">
        <a href="">Forget password</a>
        <button>Sing in</button>
        <button>Sing with Google</button>
    
        <p>Don't have an account? <a href="">Sing up</a></p>
      </div>
      <div class="second-container">
        <img src="../assets/LoginFutsal.jpg" alt="" width="450" height="600">
      </div>
    </div>
  </div>
  