.tabla-padre {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
 }
 
 .table-user {
  width: 100%;
  border-collapse: collapse;
 }
 
 .table-user th, .table-user td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
 }
 
 .table-user th {
  background-color: #f2f2f2;
  color: #333;
  font-weight: bold;
 }
 
 .table-user tr:nth-child(even) {
  background-color: #f2f2f2;
 }
 
 .table-user tr:hover {
  background-color: #ddd;
 }
 
 /* Estilos para los botones */



 .dialog{
  background-color: red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
 }
