/* You can add global styles to this file, and also import other style files */
@font-face{
  font-family:Poppins; 
  src:url(./fonts//Poppins/Poppins-Regular.ttf)
  }


* {
  padding: 0px !important;
  margin: 0px !important;
  box-sizing: border-box;
  font-family:Poppins;
  }



  body{
    background-color: #212227;
    color: white;
    }

  .btn {
    background-color: rgb(237, 179, 71);
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
   }
   
   .btn:hover {
    background-color:rgb(130, 92, 22);;
   }
   .btn-añadir{
    padding: 10px;
    display: flex;
    gap: 10px;
   }

